src/main/app/example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8087" doc:name="HTTP Listener Configuration"/>
    <flow name="exampleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/greeting" allowedMethods="get" doc:name="HTTP"/>
        <set-variable variableName="language" value="#[message.inboundProperties.'http.query.params'.['language']]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.language=='english']">
                <set-payload value="hello welcome to mule esb!!!!" doc:name="greeting english"/>
            </when>
            <when expression="#[flowVars.language=='hindi']">
                <set-payload value="namaskar swagath mule esb ko!!!!" doc:name="greeting hindi"/>
            </when>
            <otherwise>
                <set-payload value="sorry! no language no greeting!!!!" doc:name="Set Payload"/>
            </otherwise>
        </choice>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
